:root {
    --primaryColor: #fff;
    --navColor1: #21292c;
    --navColor2: #21292c;
    --navColor3: #21292c;
    --navColor4: #21292c;
    --navColor5: #aa3e39;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hidden {
    display: none;
}



.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #111;
    height: 60px;
    width: 100%;
    padding: 30px;
    z-index: 999;
    list-style:none;
    box-sizing: border-box;
    transition: 0.6s;
}

.sticky {
    padding: 10px 0;
    background-color: #aa3e39;
}



.nav {
    display: flex;
    justify-content: right;
    margin-right: 15%;
    list-style:none;

}



.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 35px;
    color: #fff;
}

.item a {
    line-height: 80px;
    padding: 5px 20px;
    margin: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    
}

.item-selection a:hover, .child-item-selection a:hover {
    color: #fff;
    background: #aa3e39;
    border-radius: 15px;
}

.item-selection a.active, .child-item-selection a.active
 {
    color: #fff;
    background: #aa3e39;
}




nav ul li.button{
    padding: 0px 20px;
}

/*dropdown start*/

.navbar ul li.drm > ul {
    display: none;
    position:absolute;
    flex-direction:column;
    width: 200px;
    background-color: #222;
    list-style: none;
}

.navbar ul li.drm > ul li {
    width: 250px;
}

.navbar ul li.drm > ul li a {
     justify-content: left;
}


.navbar ul li.drm > ul li.active a {
    color: #fff;
    background: #aa3e39;
    border-radius: 15px;
}

.navbar ul li.drm:hover > ul {
    display: flex;
}

.navbar ul li.drm:hover > ul li {
    margin-left: -40px;
}



.fas {
    color: #aa3e39;
    font-size: 20px;
}
/*dropdown end*/


/*button navbar start*/

.contact-button a button {
    margin-left: 4rem;
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #111;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.contact-button a button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);    
}


/*button navbar end*/

/* --- Menu Bars ------------------------------------ */

.menu-bars {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 10000000;
    display: inline;
    cursor: pointer;
    display: none;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: rotate(-45deg) translate(-7px, 8px);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }






.home {
    display: flex;
    background: #111;
    height: 100vh;
    color: #fff;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600px;
    margin-left: -3px;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.CV-button {
    display: inline-block;
    background: #aa3e39;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #aa3e39;
    transition: all 0.3s ease;
    
}

.home .home-content a:hover {
    color: #fff;
    background: none;
}

/*cursor*/

.txt-type > .txt {
    border-right: 0.2rem solid #aa3e39;
    font-weight: 500;
    color: #f0db4f;
}

/*cursor end*/

/*home area end*/



/*menu bars start*/

/* --- Navigation Menu ------------------------------ */

/*overly*/

.overlay{
     position: fixed;
     z-index: 9000;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0,0,0,0.7);
     transform: translateX(-100vw);
}

.overlay-slide-right{
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlay-slide-left{
    transition: all 0.8s ease-in-out;
    transform: translateX(-100vw );
}

/* Nav Menu items*/

div.overlay-nav, div.overlay-nav ul.overlay-elements {
    height: 100vh;
    margin: 0;
    padding: 0;
}

div.overlay-nav li:nth-of-type(1) {
    background-color: var(--navColor1);
}

div.overlay-nav li:nth-of-type(2) {
    background-color: var(--navColor2);
}

div.overlay-nav li:nth-of-type(3) {
    background-color: var(--navColor3);
}

div.overlay-nav li:nth-of-type(4) {
    background-color: var(--navColor4);
}

div.overlay-nav li:nth-of-type(5) {
    background-color: var(--navColor5);
}

/*slide in annimation with delay for each nav item*/

.slide-in-1{
    animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2{
    animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3{
    animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4{
    animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5{
    animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
/*slide in animation end*/

/*slide out  annimation with delay for each nav item*/

.slide-out-1{
    animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2{
    animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3{
    animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4{
    animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5{
    animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}
/*slide out animation end*/


div.overlay-nav ul.overlay-elements {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

div.overlay-nav ul.overlay-elements li {
    height: 20%;
    overflow: hidden;
}

div.overlay-nav li a {
    position: relative;
    top: 45%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

div.overlay-nav li a:hover {
    transform: scale(1.2);
}

div.overlay-nav li a::before {
    content: "";
    width: 25vw;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 47.5%;
    left: 0;
    opacity: 0;
}

div.overlay-nav li a:hover::before {
    opacity: 1;
}


  
  /* --- Sections ------------------------------------ */
  
  section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primaryColor);
  }
  
  section#home {
    background-image: url("https://images.unsplash.com/photo-1581453904507-626ddb717f14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
    background-size: cover;
    background-position: center center;
  }
  
  section#home a {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: 1.5rem;
    text-decoration: none;
    font-size: 0.8rem;
    padding-bottom: 5px;
    color: var(--primaryColor);
    border-bottom: 1px solid var(--primaryColor);
  }
  
  section#about {
    background-color: var(--navColor2);
  }
  
  section#skills {
    background-color: var(--navColor3);
  }
  
  section#projects {
    background-color: var(--navColor4);
  }
  
  section#contact {
    background-color: var(--navColor5);
  }











/*menu bars end*/

/*all similar content styling code start */









/*all similar content styling code end */

.about, .services, .skills, .projects, .future-skills, .contact {
    padding: 100px 0;
}

.about .title, .services .title, .skills .title, .projects .title, .future-skills .title, .contact .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: sans-serif;
}

.about .title::before, .services .title::before, .skills .title::before, 
.projects .title::before, .future-skills .title::before, .contact .title::before

{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.about .title::after, .services .title::after, .skills .title::after, 
.projects .title::after, .future-skills .title::after, .contact .title::after
{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #aa3e39;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content, .services .services-content, .skills .skills-content,
.projects .projects-content, .future-skills .future-skills-content, .contact .contact-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 920px;
    margin: 0 auto;
}

.services .services-content .card {
    width: calc(25% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*about section styling*/





.about .about-content .left {
    width: 42%;
}

.about .about-content .left img {
    /*height: 400px;
    width: 400px;*/
    width: 100%;
    object-fit: cover;
    border-radius: 6px;

}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color:#aa3e39;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #aa3e39;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #aa3e39;
    transition: all 0.3s ease;
    text-decoration: none;

}

.about .about-content .right a:hover {
    color: #aa3e39;
    background: none;
}
/*about section end-------------------------------------------*/



/*skills section start-------------*/

.services {
    color: #fff;
    background: #111;
}

.services .title::before, .projects .title::before {
    background: #fff;
}
.services .title::after, .projects .title::after {
    background: #111;
    content: "what I provide";
}



.services .services-content .card:hover {
    background: #aa3e39;

}

.services .services-content .card .box {
    transition: all 0.3s ease;;
}

.services .services-content .card:hover .box {
    transform: scale(1.05);
}

.services .services-content .card i {
    font-size: 50px;
    color: #aa3e39;
    transition: color 0.3s ease;
}

.services .services-content .card:hover i {
    color: #fff;    
}

.services .services-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;;
}


.skills .title::after {
    content: "what I know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px; 
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #aa3e39;
}

.skills-content .right .html::before {
    width: 90%;
    
}

.skills-content .right .css::before {
    width: 60%;
}

.skills-content .right .javascript::before {
    width: 80%;
}

.skills-content .right .php::before {
    width: 50%;
}

.skills-content .right .react::before {
    width: 60%;
}
/*skills section end----------------*/


/*projects*/

.projects h2 {
    color: #fff;
}


/*carosel start */
.projects .max-width {
    padding: 40px;
}
.owl-nav{
    width: 100vw;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color:#fff;
}

  /* Style .js- class with pointer cursor */
  .js-nested-link {
    cursor: pointer;
  }
  
  /* Card styling */

  
.projects-card {
    display: grid;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    cursor: pointer;
}



.projects-card-image {
    grid-area: image;
    background: url("img/react.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
}

.projects-card-text {
    grid-area: text;
    margin: 25px;
}

.projects-card-text .project-date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.projects-card-text p {
    color: #111;
    font-size: 15px;
    font-weight: 300;
}

.projects-card-text h2 {
    margin-top: 0px;
    font-size: 28px;
    color: #aa3e39;
}


.project-card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110);
}


/*javascript projects*/

.projects-card-webplayer {
    
        grid-area: image;
        background: url("img/JavaScript-Logo.png");
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-size: cover;
        background-position: center;
    
}

.project-JS {
    background: #f0db4f ;
}

/*javascript projects end*/

/*css projects start*/

.projects-card-css {
    
    grid-area: image;
    background: url("img/css.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-position: center;

}

.project-css {
    background:  #264de4 ;
}


/*css projects end*/

/*HTML Projects start*/

.projects-card-HTML {
    
    grid-area: image;
    background: url("img/HTML5_Logo_512.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-position: center;

}

.project-HTML {
    background:  #e34c26 ;
}

/*html projects end*/

/*react projects start*/

.projects-card-REACT {
    
    grid-area: image;
    background: url("img/react.png");
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: cover;
    background-position: center;

}


.project-REACT {
    background:  skyblue ;
}

/*react projects end*/


.project-card-stats .project-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.project-card-stats .project-type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.project-card-stats .project-value {
    font-size: 22px;
    font-weight: 500;
}

.fa-eye{
    color: #fff;
}

.fa-eye:hover {
    color: #2EE59D;
}

.project-value a{
    position:relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    text-decoration: none;
    font-size: 30px;
    border-radius: 50%;
    color: #fff;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.project-value a:hover{
    color: #2EE59D;
    transform: translateY(-20px);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 10px rgba(0, 0, 0, 0.1) ;
}

.project-value a:before{
    content: '';
    position: absolute;
    top: 10px;;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}



.project-card-stats .project-border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);

}


.owl-dots{
    text-align: center;
    margin-top: 40px
}

.owl-dot {
    height: 15px;
    width: 45px;
    background: #fff;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #fff!important;
    transition: all 0.3s ease;
}

.owl-dot:hover, .owl-dot.active {
    background: #fff!important;
}


/* carosel end */


/*projects section start*/
.projects {
    background: #111;
}



/*future skills*/


.future-skills {
    color: #111;
    background: #fff;

}

.future-skills .title::before {
    background: #111;
}

.future-skills .title::after {
    background: #fff;
}

.future-skills-cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}

.outerEl {
    width: calc(30% - 20px);
    text-align: center;
    padding: 20px 0;
}

.innerEl{
    color: black;
}

.future-card {
    display: grid;
    background: #fff;
    /* Changed */
    /*grid-template-rows: 210px 210px 80px;*/
    grid-template-rows: 21fr 21fr 8fr;
    grid-template-areas: "image" "text" "stats" ;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.19);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}


.future-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }

.future-image-skills {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: url("img/undraw_add_to_cart_vkjp.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 210px;
}


.future-image-skills.future-image-React {
    background-image: url("img/react.png");
}

.future-image-skills.future-image-Python {
    background-image: url("img/768px-Python-logo-notext.svg.png");
}

.future-image-skills.future-image-Fluenz {
    background-image: url("img/fluenz_psdy.png");
}

.future-image-skills.future-image-whiteBoard {
    background-image: url("img/0_DstXpiJlX1myn97m.png");
}

.future-image-skills.future-image-EmailAutomation {
    background-image: url("img/3mae0us0b_marketing-hero-still1.png");
}

.future-image-skills.future-image-ChatBot {
    background-image: url("img/feat2.png");
}



/*card styling end--------------*/


.future-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.future-text p {
    color: #111;
    font-size: 15px;
    font-weight: 300;
}

.future-text h2{
    margin: 0px;
    font-size: 28px;
    color: #aa3e39;
}
/*card bottom colors*/
.future-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(255, 7, 110)
}

.future-stats-React {
    background: #61DBFB;
}

.future-stats-Python {
    background: #306998;
}

.future-stats-Fluenz{
    background: #aa3e39;
}

.future-stats-whiteboard, .future-image-email-automation, .future-stats-ChatBot{
    background: #aa3e39;
}


/*carb bottom colors end*/



.future-skills .title::after {
    content: " Skills Direction";
}

.future-card-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.future-card-type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.future-value {
    font-size: 22px;
    font-weight: 500;
}

.future-border {
    border-left: 1px solid rgb(172, 26, 87);
    border-right: 1px solid rgb(172, 26, 87);
}






.future-buttons{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.future-btn {

    

    margin: 10px;
    width: 200px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #aa3e39;
    border: none;
    border-radius: 45px;
    box-shadow: 0 8px 6px -6px black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.future-btn:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);    
}


/*futuer skills end*/

/*contact section start*/

.contact {
    background:#111;
}

.contact .title, .contact .text, .contact p {
    color: #fff;
}

.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}

.contact .title::after {
    content: "get in touch";
    background: #111;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icon{
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}


.contact .contact-content .row .info {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #aa3e39;
}

.contact .contact-content .info .head {
    font-weight: #fff;
}

.contact .contact-content .info .sub-title {
    color: #fff;
}

.contact .right form .field{
    display: flex;
}

.contact .right form .field, 
.contact .right form .field .field {
    height: 45px;
    width: 100%;
    margin-bottom:15px ;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input, 
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid #aa3e39;
    background: #aa3e39;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover {
    color: #aa3e39;
    background: none;
}

.fa-book-open, .fa-database, .fa-store, .fa-bullseye, .fa-users, .fa-facebook-messenger{
    color: #fff;
}




/*contact section end*/






/*footer section*/
footer {
    background: #111;
    padding: 20px 23px;
    color: #fff;
}

footer span a{
    color: #aa3e39;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer .fa-github {
    color: orangered;
}

footer .fa-linkedin {
    color: #0077B5;
}

/*footer section end*/

/*media query start*/ 


@media (max-width: 1372px) {
    .navigation .navbar .nav{
        display: none;
    }

    .menu-bars {
        display: block;
        margin-right: 30px;
    }
}


@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }


    .future-skills-cards-container .outerEl {
        width: calc(50% - 10px);
    }
   
}

@media (max-width: 1104px) {
   
   
    .about .about-content .left img {
     /*   height: 350px;
        width: 350px;
   */
    }

    .future-skills-cards-container .outerEl {
        width: 100%;
        
        /*added*/
        padding: 0;
        margin-bottom: 20px;
    }

}



@media (max-width:991px) {
    .max-width {
        padding: 0 50px
    }

    .services .services-content .card {
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 947px) {



    .home .home-content .text-2{
        font-size: 70px;
    } 

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width {
        max-width: 800px;
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .about .about-content .right {
       flex: 100%;
    }

    .skills .skills-content .column, 
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .contact .text, .contact p, .contact .icons {
        display: none;
    }

  
    
}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }


    .home .home-content .text-2 {
        font-size: 60px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 20px;
    }

    .skills .skills-content .column{
        width: 100%;
    }
}

@media (max-width: 500px) {

    .home .home-content .text-2 {
        font-size: 50px;
    }

    .home .home-content .text-3 {
        font-size: 27px;
    }
}

/*media query finish*/

